.task-card-center-div {
  width: 50%;
  margin: auto;
}

.task-update-button:hover button{
  display: block;
}

.task-update-button button{
  display: none;
}

.task-update-button {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  border-bottom: 1px solid lightgrey;
  padding: 20px 0;
}

.task-card-center-div-empty {
  text-align: center;
}

/* .add-task-button-div button{
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  color: rgb(255, 113, 113);
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid rgb(255, 113, 113);
  padding: 5px 10px;
  margin-right: 15px;
} */

.add-task-button-div button:hover {
  background-color: rgb(255, 207, 207);
}

.section-column-overdiv {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}

.project-name-div {
  width: 50%;
  margin: auto;
}

.section-center-div {
  width: 100%;
  margin: 0 330px;
}

.section-map-div {
  margin: 0 10px;
}
