.modal-select-div select {
  border: none;
  cursor: pointer;
  /* font-size: 7pt; */
  font-weight: 900;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid rgb(255, 113, 113);
  padding: 5px 10px;
  color: black;
  margin-left: 15px;
  padding: 5px 50px;
  text-align: center;
}

.modal-select-div {
  text-align: center;
  margin: 20px 0;
}
